
<h2><%= @cocktail.name %></h2>

<ul>
<% @cocktail.doses.each do |dose| %>
  <li>
    <strong><%= dose.amount %></strong>
    doses de
    <strong><%= dose.ingredient.name %></strong>
    <%= link_to "Delete dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</ul>

<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
<br>
<%= link_to "Back to all cocktails", cocktails_path %>